version: "3.9"

services:
  api:
    build: .
    container_name: subscription_api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    restart: unless-stopped

  worker:
    build: .
    container_name: subscription_worker
    command: celery -A app.tasks.celery_app.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: subscription_db
    environment:
      POSTGRES_USER: billing
      POSTGRES_PASSWORD: billing
      POSTGRES_DB: billing
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: subscription_redis
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  postgres_data:
